.navbar {
	background-color: #202020;
	box-shadow: 0px 5px 5px #404040;
}

.navbar-brand {
	color: #00d1a7;
}

.nav-link {
	color: #eeeeee;
}

.hamburger {
	color: #eeeeee;
}

a {
	text-decoration: none;
	color: #00d1a7;
}

a:hover {
	color: #438c7e;
}

#home {
	background-color: #202020;
	color: #eeeeee;
}

#academic {
	background-color: #303030;
	color: #eeeeee;
}

.list-group-item {
	background-color: #303030;
	color: #eeeeee;
}

#contact {
	background-color: #202020;
	color: #eeeeee;
}

footer {
	background-color: #303030;
	color: #eeeeee;
}

.filter {
	filter: grayscale(50%);
}

.title {
	text-decoration: underline;
}

.img-thumbnail {
	background-color: #606060;
	border-color: #606060;
}

.profile_name {
	padding-top: 25px;
	padding-bottom: 10px;
}

.profile_job {
	font-size: 24px;
}

.profile_affil {
	font-size: 24px;
	padding-bottom: 20px;
}

