.navbar {
	background-color: #202020;
	box-shadow: 0px 5px 5px #404040;
}

.navbar-brand {
	color: #00d1a7;
}

.nav-link {
	color: #eeeeee;
}

.hamburger {
	color: #eeeeee;
}

a {
	text-decoration: none;
	color: #00d1a7;
}

a:hover {
	color: #438c7e;
}

#home::before {
	display: block;
	content: "";
	margin-top: -86px;
	height: 86px;
	pointer-events: none;
	background-color: #303030;
}

#academic::before {
	display: block;
	content: "";
	margin-top: -86px;
	height: 86px;
	pointer-events: none;
	background-color: #202020;
}

#projects::before {
	display: block;
	content: "";
	margin-top: -86px;
	height: 86px;
	pointer-events: none;
	background-color: #303030;
}

#contact::before {
	display: block;
	content: "";
	margin-top: -86px;
	height: 86px;
	pointer-events: none;
	background-color: #202020;
}

#home {
	background-color: #202020;
	color: #eeeeee;
}

#academic {
	background-color: #303030;
	color: #eeeeee;
}

.list-group-item {
	background-color: #303030;
	color: #eeeeee;
}

#projects {
	background-color: #202020;
	color: #eeeeee;
}

.card {
	background-color: #303030;
	color: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
}

#contact {
	background-color: #303030;
	color: #eeeeee;
}

footer {
	background-color: #202020;
	color: #eeeeee;
}

.filter {
	filter: grayscale(50%);
}

.title {
	text-decoration: underline;
}

.img-thumbnail {
	background-color: #606060;
	border-color: #606060;
}

.profile_name {
	padding-top: 25px;
	padding-bottom: 10px;
}

.profile_job {
	font-size: 24px;
}

.profile_affil {
	font-size: 24px;
	padding-bottom: 20px;
}

h4 {
	font-size: 28px;
}

.btn {
	background-color: #00d1a7;
	color: #202020;
}

.btn:hover {
	background-color: #438c7e;
	color: #202020;
}

.scroll_to_top {
	position: fixed;
	bottom: 800px;
	right: 50px;
	color: #00d1a7;
	visibility: hidden;
	opacity: 0;
	transition: 0.75s;
	background-color: transparent;
	z-index: 1000000;
}

.scroll_to_top.active {
	visibility: visible;
	opacity: 1;
	bottom: 50px;
}

.scroll_to_top:hover {
	color: #438c7e;
}
