.navbar {
	background-color: #202020;
}

.navbar-brand {
	color: #eeeeee;
}

.nav-link {
	color: #eeeeee;
}

.hamburger {
	color: #eeeeee;
}

a {
	text-decoration: none;
	color: #00d1a7;
}

#home {
	background-color: #202020;
	color: #eeeeee;
}

#academic {
	background-color: #303030;
	color: #eeeeee;
}

.list-group-item {
	background-color: #303030;
	color: #eeeeee;
}

#contact {
	background-color: #202020;
	color: #eeeeee;
}

footer {
	background-color: #303030;
	color: #eeeeee;
}

.filter {
	filter: grayscale(50%);
}

